@model Control_TASK_ASP_MVC.Models.Student

@{
    ViewBag.Title = "CreateFile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateFile</h2>
@Html.ActionLink("Скачать список студентов", "CreateFile")
